/*Responsive design-Media queries*/

/*desktop*/


@media (min-width: 1024px){
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows:50% 50% ;
            
    }

}

/*tablet*/


@media (min-width: 600px) and (max-width:1023px){
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 25% 25%  ;
        
        
    }

}

/*smartphone*/

@media (max-width: 599px){
    .grid{
        display: grid;
        grid-template-columns: 1fr  ;
        grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
        
        
    }

}